## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np
import random as rd

In [3]:
data = {'編號':[1,2,3,4],
        '國家':['台灣','美國','日本','新加坡'] ,
        '人口':[rd.randint(23000000.0,24000000.0),rd.randint(327200000.0,330000000.0),rd.randint(126000000.0,127000000.0),rd.randint(5600000.0,5700000.0)] }
frame = pd.DataFrame(data)
print(frame)

   編號   國家         人口
0   1   台灣   23372034
1   2   美國  329119060
2   3   日本  126466282
3   4  新加坡    5644529

In [4]:
frame.groupby("人口")["編號"].mean()

人口
5644529      4
23372034     1
126466282    3
329119060    2
Name: 編號, dtype: int64

In [11]:
frame.groupby("編號", sort=False)["人口"].max()

人口
23372034     1
329119060    2
126466282    3
5644529      4
Name: 編號, dtype: int64

In [22]:
frame.groupby(["國家"])["人口"].mean().reset_index(name="人口")

    國家         人口
0   台灣   23372034
1  新加坡    5644529
2   日本  126466282
3   美國  329119060

In [23]:
frame.groupby(["國家"])["人口"].mean().reset_index(name="人口").sort_values(["人口"], ascending=False)

    國家         人口
3   美國  329119060
2   日本  126466282
0   台灣   23372034
1  新加坡    5644529